{% extends 'admin/admin.html.twig' %}

{% block title %}Agent{% endblock %}

{% block body %}
    <h1>Nouvel agent</h1>

    <a href="{{ path('app_agent_index') }}">Retour a la liste</a>
    <br><br>
    {{ include('agent/_form.html.twig') }}
{% endblock %}
