{# <form method="post" action="{{ path('app_job_delete', {'id': job.id}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ job.id) }}">
    <button class="btn">Delete</button>
</form> #}


<!-- Modal -->
<div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5 text-danger" id="staticBackdropLabel"> <span><i class="bi bi-trash-fill"></i></span> Suppression</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
        <form method="post" action="{{ path('app_job_delete', {'id': job.id}) }}">
            <div class="modal-body">
                <p>Etes-vous sur de vouloir le supprimer ?</p>
                    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ job.id) }}">
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Non</button>
                <button type="submit" class="btn btn-primary">Oui</button>
            </div>
        </form>
    </div>
  </div>
</div>